*{
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

header .row{
    background-color: #2C3E50;
    min-height: 80px;
}

#jumbotron .row{
    background-color: #1ABC9C;
    /* DEBUG */
    min-height: 500px;
}

[class*=col-]{
    min-height: 50px;
    background-color: blueviolet;
    border: solid 2px black;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }